@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

/* img {
    filter: grayscale(100%);
} */

.new_story {
    background-color: pink;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.new_story:hover {
    background-color: palevioletred;
}

h1 {
    font-family: 'Angkor', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: #5A5A5A;
}

h2 {
   font-family: 'Angkor', sans-serif;
   color:palevioletred; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

form {
    width: fit-content;
    padding: 16px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

input[type="submit"] {
    background-color: pink;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: palevioletred;
}
